engine-strict=true
resolution-mode=highest
auto-install-peers=true
strict-peer-dependencies=false
shamefully-hoist=false
save-workspace-protocol=rolling
prefer-workspace-packages=true
manage-package-manager-versions=true
