@layer reset, base, tokens, recipes, utilities;

@layer base{
  :root {
    --made-with-panda: '🐼';
}

  *,::before,::after,::backdrop {
    --blur: /*-*/ /*-*/;
    --brightness: /*-*/ /*-*/;
    --contrast: /*-*/ /*-*/;
    --grayscale: /*-*/ /*-*/;
    --hue-rotate: /*-*/ /*-*/;
    --invert: /*-*/ /*-*/;
    --saturate: /*-*/ /*-*/;
    --sepia: /*-*/ /*-*/;
    --drop-shadow: /*-*/ /*-*/;
    --backdrop-blur: /*-*/ /*-*/;
    --backdrop-brightness: /*-*/ /*-*/;
    --backdrop-contrast: /*-*/ /*-*/;
    --backdrop-grayscale: /*-*/ /*-*/;
    --backdrop-hue-rotate: /*-*/ /*-*/;
    --backdrop-invert: /*-*/ /*-*/;
    --backdrop-opacity: /*-*/ /*-*/;
    --backdrop-saturate: /*-*/ /*-*/;
    --backdrop-sepia: /*-*/ /*-*/;
    --gradient-from-position: /*-*/ /*-*/;
    --gradient-to-position: /*-*/ /*-*/;
    --gradient-via-position: /*-*/ /*-*/;
    --scroll-snap-strictness: proximity;
    --border-spacing-x: 0;
    --border-spacing-y: 0;
    --translate-x: 0;
    --translate-y: 0;
    --rotate: 0;
    --rotate-x: 0;
    --rotate-y: 0;
    --skew-x: 0;
    --skew-y: 0;
    --scale-x: 1;
    --scale-y: 1;
}
}

@layer tokens{
  :where(:root, :host) {
    --colors-gray-1: #fcfcfc;
    --colors-gray-2: #f9f9f9;
    --colors-gray-3: #f0f0f0;
    --colors-gray-4: #e8e8e8;
    --colors-gray-5: #e0e0e0;
    --colors-gray-6: #d9d9d9;
    --colors-gray-7: #cecece;
    --colors-gray-8: #bbbbbb;
    --colors-gray-9: #8d8d8d;
    --colors-gray-10: #838383;
    --colors-gray-11: #646464;
    --colors-gray-12: #202020;
    --colors-gray-dark-1: #202020;
    --colors-gray-dark-2: #282828;
    --colors-gray-dark-3: #303030;
    --colors-gray-dark-4: #373737;
    --colors-gray-dark-5: #3f3f3f;
    --colors-gray-dark-6: #4a4a4a;
    --colors-gray-dark-7: #606060;
    --colors-gray-dark-8: #6f6f6f;
    --colors-gray-dark-9: #7e7e7e;
    --colors-gray-dark-10: #b0b0b0;
    --colors-gray-dark-11: #d6d6d6;
    --colors-gray-dark-12: #f2f2f2;
    --colors-neutral-1: #fcfcfc;
    --colors-neutral-2: #f8f8f8;
    --colors-neutral-3: #f1f1f1;
    --colors-neutral-4: #e9e9e9;
    --colors-neutral-5: #e2e2e2;
    --colors-neutral-6: #dadada;
    --colors-neutral-7: #cfcfcf;
    --colors-neutral-8: #bdbdbd;
    --colors-neutral-9: #8a8a8a;
    --colors-neutral-10: #808080;
    --colors-neutral-11: #626262;
    --colors-neutral-12: #1f1f1f;
    --colors-neutral-dark-1: #1f1f1f;
    --colors-neutral-dark-2: #282828;
    --colors-neutral-dark-3: #303030;
    --colors-neutral-dark-4: #383838;
    --colors-neutral-dark-5: #404040;
    --colors-neutral-dark-6: #4b4b4b;
    --colors-neutral-dark-7: #606060;
    --colors-neutral-dark-8: #717171;
    --colors-neutral-dark-9: #868686;
    --colors-neutral-dark-10: #b5b5b5;
    --colors-neutral-dark-11: #d9d9d9;
    --colors-neutral-dark-12: #f1f1f1;
    --colors-slate-1: #fbfcfd;
    --colors-slate-2: #f8f9fa;
    --colors-slate-3: #f1f3f5;
    --colors-slate-4: #eceef0;
    --colors-slate-5: #e6e8eb;
    --colors-slate-6: #dfe3e6;
    --colors-slate-7: #d7dbdf;
    --colors-slate-8: #c1c8cd;
    --colors-slate-9: #889096;
    --colors-slate-10: #7e868c;
    --colors-slate-11: #687076;
    --colors-slate-12: #11181c;
    --colors-slate-dark-1: #11181c;
    --colors-slate-dark-2: #151f24;
    --colors-slate-dark-3: #1b262c;
    --colors-slate-dark-4: #202d33;
    --colors-slate-dark-5: #26343c;
    --colors-slate-dark-6: #2f3e46;
    --colors-slate-dark-7: #3b4a53;
    --colors-slate-dark-8: #4c5d67;
    --colors-slate-dark-9: #697882;
    --colors-slate-dark-10: #9ba7b0;
    --colors-slate-dark-11: #d4dce2;
    --colors-slate-dark-12: #edf2f7;
    --colors-mauve-1: #fdfcfd;
    --colors-mauve-2: #faf9fb;
    --colors-mauve-3: #f2eff3;
    --colors-mauve-4: #eae7ec;
    --colors-mauve-5: #e3dfe6;
    --colors-mauve-6: #dbd8e0;
    --colors-mauve-7: #d0cdd7;
    --colors-mauve-8: #bcbac7;
    --colors-mauve-9: #8e8996;
    --colors-mauve-10: #84808b;
    --colors-mauve-11: #65636d;
    --colors-mauve-12: #211f26;
    --colors-mauve-dark-1: #211f26;
    --colors-mauve-dark-2: #2b2930;
    --colors-mauve-dark-3: #323039;
    --colors-mauve-dark-4: #3c3943;
    --colors-mauve-dark-5: #49454f;
    --colors-mauve-dark-6: #56515d;
    --colors-mauve-dark-7: #625d6a;
    --colors-mauve-dark-8: #746f7f;
    --colors-mauve-dark-9: #8c8797;
    --colors-mauve-dark-10: #b6b1c1;
    --colors-mauve-dark-11: #ded8e8;
    --colors-mauve-dark-12: #f4effa;
    --colors-blue-1: #fbfdff;
    --colors-blue-2: #f5faff;
    --colors-blue-3: #edf6ff;
    --colors-blue-4: #e1f0ff;
    --colors-blue-5: #cee7fe;
    --colors-blue-6: #b7d9f8;
    --colors-blue-7: #96c7f2;
    --colors-blue-8: #5eb0ef;
    --colors-blue-9: #0091ff;
    --colors-blue-10: #0081f1;
    --colors-blue-11: #006adc;
    --colors-blue-12: #00254d;
    --colors-blue-dark-1: #08254d;
    --colors-blue-dark-2: #0b2d5c;
    --colors-blue-dark-3: #0f386d;
    --colors-blue-dark-4: #124781;
    --colors-blue-dark-5: #155797;
    --colors-blue-dark-6: #1b67ad;
    --colors-blue-dark-7: #2678c4;
    --colors-blue-dark-8: #358edf;
    --colors-blue-dark-9: #52a9ff;
    --colors-blue-dark-10: #7cc4ff;
    --colors-blue-dark-11: #b9ddff;
    --colors-blue-dark-12: #edf6ff;
    --colors-violet-1: #fdfcfe;
    --colors-violet-2: #fbfaff;
    --colors-violet-3: #f5f2ff;
    --colors-violet-4: #ede9fe;
    --colors-violet-5: #e4defc;
    --colors-violet-6: #d7cff9;
    --colors-violet-7: #c4b8f3;
    --colors-violet-8: #aa99ec;
    --colors-violet-9: #6e56cf;
    --colors-violet-10: #654dc4;
    --colors-violet-11: #6550b9;
    --colors-violet-12: #2f265f;
    --colors-violet-dark-1: #2f265f;
    --colors-violet-dark-2: #392b73;
    --colors-violet-dark-3: #443389;
    --colors-violet-dark-4: #5442a1;
    --colors-violet-dark-5: #6550b9;
    --colors-violet-dark-6: #765fd0;
    --colors-violet-dark-7: #866be7;
    --colors-violet-dark-8: #9e86f7;
    --colors-violet-dark-9: #b7a4ff;
    --colors-violet-dark-10: #d0c2ff;
    --colors-violet-dark-11: #e4defc;
    --colors-violet-dark-12: #f5f2ff;
    --colors-teal-1: #fafefd;
    --colors-teal-2: #f3fbf9;
    --colors-teal-3: #e0f8f3;
    --colors-teal-4: #ccf3ea;
    --colors-teal-5: #b8eae0;
    --colors-teal-6: #a1ded2;
    --colors-teal-7: #83cdc1;
    --colors-teal-8: #53b9ab;
    --colors-teal-9: #12a594;
    --colors-teal-10: #0e9888;
    --colors-teal-11: #067a6f;
    --colors-teal-12: #10302b;
    --colors-teal-dark-1: #10302b;
    --colors-teal-dark-2: #123c35;
    --colors-teal-dark-3: #164b42;
    --colors-teal-dark-4: #1b5e54;
    --colors-teal-dark-5: #207166;
    --colors-teal-dark-6: #268578;
    --colors-teal-dark-7: #2b9a8b;
    --colors-teal-dark-8: #32ad9d;
    --colors-teal-dark-9: #12cbb8;
    --colors-teal-dark-10: #7de0d3;
    --colors-teal-dark-11: #b8f3ea;
    --colors-teal-dark-12: #e0f8f3;
    --colors-emerald-1: #fbfefc;
    --colors-emerald-2: #f4fbf6;
    --colors-emerald-3: #e6f6eb;
    --colors-emerald-4: #d6f1df;
    --colors-emerald-5: #c4e8d1;
    --colors-emerald-6: #adddc0;
    --colors-emerald-7: #8eceaa;
    --colors-emerald-8: #5bb98c;
    --colors-emerald-9: #30a46c;
    --colors-emerald-10: #2b9a66;
    --colors-emerald-11: #218358;
    --colors-emerald-12: #193b2d;
    --colors-emerald-dark-1: #193b2d;
    --colors-emerald-dark-2: #1d4a36;
    --colors-emerald-dark-3: #235b42;
    --colors-emerald-dark-4: #2b6e50;
    --colors-emerald-dark-5: #33825f;
    --colors-emerald-dark-6: #3d966f;
    --colors-emerald-dark-7: #4daa80;
    --colors-emerald-dark-8: #63bf95;
    --colors-emerald-dark-9: #30d158;
    --colors-emerald-dark-10: #8ee6ae;
    --colors-emerald-dark-11: #c4f0d3;
    --colors-emerald-dark-12: #e6f6eb;
    --colors-amber-1: #fefdfb;
    --colors-amber-2: #fff9ed;
    --colors-amber-3: #fff4d5;
    --colors-amber-4: #ffecbc;
    --colors-amber-5: #ffe3a2;
    --colors-amber-6: #ffd386;
    --colors-amber-7: #f3ba63;
    --colors-amber-8: #ee9d2b;
    --colors-amber-9: #ffb224;
    --colors-amber-10: #ffa01c;
    --colors-amber-11: #ad5700;
    --colors-amber-12: #4e2009;
    --colors-amber-dark-1: #4e2009;
    --colors-amber-dark-2: #5f2a0b;
    --colors-amber-dark-3: #74320d;
    --colors-amber-dark-4: #8b3d0f;
    --colors-amber-dark-5: #a34a12;
    --colors-amber-dark-6: #bd5a17;
    --colors-amber-dark-7: #d76e1f;
    --colors-amber-dark-8: #ee8c2f;
    --colors-amber-dark-9: #ffb224;
    --colors-amber-dark-10: #ffd386;
    --colors-amber-dark-11: #ffe3a2;
    --colors-amber-dark-12: #fff4d5;
    --colors-red-1: #fffcfc;
    --colors-red-2: #fff7f7;
    --colors-red-3: #feebec;
    --colors-red-4: #ffdbdc;
    --colors-red-5: #ffcdce;
    --colors-red-6: #fdbdbe;
    --colors-red-7: #f4a9aa;
    --colors-red-8: #eb8e90;
    --colors-red-9: #e5484d;
    --colors-red-10: #dc3d43;
    --colors-red-11: #cd2b31;
    --colors-red-12: #381316;
    --colors-red-dark-1: #381316;
    --colors-red-dark-2: #4b171b;
    --colors-red-dark-3: #611d23;
    --colors-red-dark-4: #7a242a;
    --colors-red-dark-5: #932d33;
    --colors-red-dark-6: #ad363d;
    --colors-red-dark-7: #c34249;
    --colors-red-dark-8: #d75a61;
    --colors-red-dark-9: #ff6369;
    --colors-red-dark-10: #ff9b9f;
    --colors-red-dark-11: #ffcdce;
    --colors-red-dark-12: #feebec;
    --radii-none: 0px;
    --radii-xs: 2px;
    --radii-sm: 4px;
    --radii-md: 6px;
    --radii-lg: 8px;
    --radii-xl: 12px;
    --radii-full: 9999px;
    --colors-bg-default: var(--colors-neutral-1);
    --colors-bg-subtle: var(--colors-neutral-2);
    --colors-bg-muted: var(--colors-neutral-3);
    --colors-bg-canvas: var(--colors-neutral-1);
    --colors-fg-default: var(--colors-neutral-12);
    --colors-fg-muted: var(--colors-neutral-11);
    --colors-fg-subtle: var(--colors-neutral-10);
    --colors-fg-inverse: #ffffff;
    --colors-border-default: var(--colors-neutral-6);
    --colors-border-muted: var(--colors-neutral-5);
    --colors-border-strong: var(--colors-neutral-8);
    --colors-accent-surface: var(--colors-blue-2);
    --colors-accent-subtle: var(--colors-blue-3);
    --colors-accent-muted: var(--colors-blue-4);
    --colors-accent-solid: var(--colors-blue-9);
    --colors-accent-emphasis: var(--colors-blue-10);
    --colors-accent-fg: var(--colors-blue-11);
    --colors-accent-contrast: #ffffff;
    --colors-success-surface: var(--colors-emerald-2);
    --colors-success-subtle: var(--colors-emerald-3);
    --colors-success-muted: var(--colors-emerald-4);
    --colors-success-solid: var(--colors-emerald-9);
    --colors-success-emphasis: var(--colors-emerald-10);
    --colors-success-fg: var(--colors-emerald-11);
    --colors-success-contrast: #ffffff;
    --colors-warning-surface: var(--colors-amber-2);
    --colors-warning-subtle: var(--colors-amber-3);
    --colors-warning-muted: var(--colors-amber-4);
    --colors-warning-solid: var(--colors-amber-9);
    --colors-warning-emphasis: var(--colors-amber-10);
    --colors-warning-fg: var(--colors-amber-11);
    --colors-warning-contrast: #ffffff;
    --colors-danger-surface: var(--colors-red-2);
    --colors-danger-subtle: var(--colors-red-3);
    --colors-danger-muted: var(--colors-red-4);
    --colors-danger-solid: var(--colors-red-9);
    --colors-danger-emphasis: var(--colors-red-10);
    --colors-danger-fg: var(--colors-red-11);
    --colors-danger-contrast: #ffffff;
    --colors-info-surface: var(--colors-blue-2);
    --colors-info-subtle: var(--colors-blue-3);
    --colors-info-muted: var(--colors-blue-4);
    --colors-info-solid: var(--colors-blue-9);
    --colors-info-emphasis: var(--colors-blue-10);
    --colors-info-fg: var(--colors-blue-11);
    --colors-info-contrast: #ffffff;
}

  .dark {
    --colors-bg-default: var(--colors-neutral-dark-1);
    --colors-bg-subtle: var(--colors-neutral-dark-2);
    --colors-bg-muted: var(--colors-neutral-dark-3);
    --colors-bg-canvas: #0b0d12;
    --colors-fg-default: var(--colors-neutral-dark-12);
    --colors-fg-muted: var(--colors-neutral-dark-11);
    --colors-fg-subtle: var(--colors-neutral-dark-10);
    --colors-fg-inverse: #111111;
    --colors-border-default: var(--colors-neutral-dark-6);
    --colors-border-muted: var(--colors-neutral-dark-5);
    --colors-border-strong: var(--colors-neutral-dark-8);
    --colors-accent-surface: var(--colors-blue-dark-2);
    --colors-accent-subtle: var(--colors-blue-dark-3);
    --colors-accent-muted: var(--colors-blue-dark-4);
    --colors-accent-solid: var(--colors-blue-dark-9);
    --colors-accent-emphasis: var(--colors-blue-dark-10);
    --colors-accent-fg: var(--colors-blue-dark-11);
    --colors-accent-contrast: #ffffff;
    --colors-success-surface: var(--colors-emerald-dark-2);
    --colors-success-subtle: var(--colors-emerald-dark-3);
    --colors-success-muted: var(--colors-emerald-dark-4);
    --colors-success-solid: var(--colors-emerald-dark-9);
    --colors-success-emphasis: var(--colors-emerald-dark-10);
    --colors-success-fg: var(--colors-emerald-dark-11);
    --colors-success-contrast: #ffffff;
    --colors-warning-surface: var(--colors-amber-dark-2);
    --colors-warning-subtle: var(--colors-amber-dark-3);
    --colors-warning-muted: var(--colors-amber-dark-4);
    --colors-warning-solid: var(--colors-amber-dark-9);
    --colors-warning-emphasis: var(--colors-amber-dark-10);
    --colors-warning-fg: var(--colors-amber-dark-11);
    --colors-warning-contrast: #ffffff;
    --colors-danger-surface: var(--colors-red-dark-2);
    --colors-danger-subtle: var(--colors-red-dark-3);
    --colors-danger-muted: var(--colors-red-dark-4);
    --colors-danger-solid: var(--colors-red-dark-9);
    --colors-danger-emphasis: var(--colors-red-dark-10);
    --colors-danger-fg: var(--colors-red-dark-11);
    --colors-danger-contrast: #ffffff;
    --colors-info-surface: var(--colors-blue-dark-2);
    --colors-info-subtle: var(--colors-blue-dark-3);
    --colors-info-muted: var(--colors-blue-dark-4);
    --colors-info-solid: var(--colors-blue-dark-9);
    --colors-info-emphasis: var(--colors-blue-dark-10);
    --colors-info-fg: var(--colors-blue-dark-11);
    --colors-info-contrast: #ffffff
}

  [data-panda-theme=rainbow] {
    --colors-accent-surface: var(--colors-violet-2);
    --colors-accent-subtle: var(--colors-violet-3);
    --colors-accent-muted: var(--colors-violet-4);
    --colors-accent-solid: var(--colors-violet-9);
    --colors-accent-emphasis: var(--colors-violet-10);
    --colors-accent-fg: var(--colors-violet-11);
    --colors-accent-contrast: #ffffff;
    --colors-bg-canvas: var(--colors-violet-1);
    --colors-bg-default: var(--colors-violet-1);
    --colors-bg-muted: var(--colors-violet-3);
    --colors-bg-subtle: var(--colors-violet-2);
    --colors-border-default: var(--colors-violet-6);
    --colors-border-muted: var(--colors-violet-5);
    --colors-border-strong: var(--colors-violet-8);
    --colors-danger-surface: var(--colors-red-2);
    --colors-danger-subtle: var(--colors-red-3);
    --colors-danger-muted: var(--colors-red-4);
    --colors-danger-solid: var(--colors-red-9);
    --colors-danger-emphasis: var(--colors-red-10);
    --colors-danger-fg: var(--colors-red-11);
    --colors-danger-contrast: #ffffff;
    --colors-fg-default: var(--colors-violet-12);
    --colors-fg-inverse: #ffffff;
    --colors-fg-muted: var(--colors-violet-11);
    --colors-fg-subtle: var(--colors-violet-10);
    --colors-info-surface: var(--colors-blue-2);
    --colors-info-subtle: var(--colors-blue-3);
    --colors-info-muted: var(--colors-blue-4);
    --colors-info-solid: var(--colors-blue-9);
    --colors-info-emphasis: var(--colors-blue-10);
    --colors-info-fg: var(--colors-blue-11);
    --colors-info-contrast: #ffffff;
    --colors-success-surface: var(--colors-emerald-2);
    --colors-success-subtle: var(--colors-emerald-3);
    --colors-success-muted: var(--colors-emerald-4);
    --colors-success-solid: var(--colors-emerald-9);
    --colors-success-emphasis: var(--colors-emerald-10);
    --colors-success-fg: var(--colors-emerald-11);
    --colors-success-contrast: #ffffff;
    --colors-warning-surface: var(--colors-amber-2);
    --colors-warning-subtle: var(--colors-amber-3);
    --colors-warning-muted: var(--colors-amber-4);
    --colors-warning-solid: var(--colors-amber-9);
    --colors-warning-emphasis: var(--colors-amber-10);
    --colors-warning-fg: var(--colors-amber-11);
    --colors-warning-contrast: #ffffff
}

  [data-panda-theme=rainbow].dark {
    --colors-accent-surface: var(--colors-violet-dark-2);
    --colors-accent-subtle: var(--colors-violet-dark-3);
    --colors-accent-muted: var(--colors-violet-dark-4);
    --colors-accent-solid: var(--colors-violet-dark-9);
    --colors-accent-emphasis: var(--colors-violet-dark-10);
    --colors-accent-fg: var(--colors-violet-dark-11);
    --colors-accent-contrast: #ffffff;
    --colors-bg-canvas: var(--colors-violet-dark-1);
    --colors-bg-default: var(--colors-violet-dark-1);
    --colors-bg-muted: var(--colors-violet-dark-3);
    --colors-bg-subtle: var(--colors-violet-dark-2);
    --colors-border-default: var(--colors-violet-dark-6);
    --colors-border-muted: var(--colors-violet-dark-5);
    --colors-border-strong: var(--colors-violet-dark-8);
    --colors-danger-surface: var(--colors-red-dark-2);
    --colors-danger-subtle: var(--colors-red-dark-3);
    --colors-danger-muted: var(--colors-red-dark-4);
    --colors-danger-solid: var(--colors-red-dark-9);
    --colors-danger-emphasis: var(--colors-red-dark-10);
    --colors-danger-fg: var(--colors-red-dark-11);
    --colors-danger-contrast: #ffffff;
    --colors-fg-default: var(--colors-violet-dark-12);
    --colors-fg-inverse: #111111;
    --colors-fg-muted: var(--colors-violet-dark-11);
    --colors-fg-subtle: var(--colors-violet-dark-10);
    --colors-info-surface: var(--colors-blue-dark-2);
    --colors-info-subtle: var(--colors-blue-dark-3);
    --colors-info-muted: var(--colors-blue-dark-4);
    --colors-info-solid: var(--colors-blue-dark-9);
    --colors-info-emphasis: var(--colors-blue-dark-10);
    --colors-info-fg: var(--colors-blue-dark-11);
    --colors-info-contrast: #ffffff;
    --colors-success-surface: var(--colors-emerald-dark-2);
    --colors-success-subtle: var(--colors-emerald-dark-3);
    --colors-success-muted: var(--colors-emerald-dark-4);
    --colors-success-solid: var(--colors-emerald-dark-9);
    --colors-success-emphasis: var(--colors-emerald-dark-10);
    --colors-success-fg: var(--colors-emerald-dark-11);
    --colors-success-contrast: #ffffff;
    --colors-warning-surface: var(--colors-amber-dark-2);
    --colors-warning-subtle: var(--colors-amber-dark-3);
    --colors-warning-muted: var(--colors-amber-dark-4);
    --colors-warning-solid: var(--colors-amber-dark-9);
    --colors-warning-emphasis: var(--colors-amber-dark-10);
    --colors-warning-fg: var(--colors-amber-dark-11);
    --colors-warning-contrast: #ffffff
        }
}

@layer utilities{

  .bd-c_border\.default {
    border-color: var(--colors-border-default);
}

  .bdr_md {
    border-radius: var(--radii-md);
}

  .px_4 {
    padding-inline: 4px;
}

  .py_2 {
    padding-block: 2px;
}

  .bd-c_danger\.solid {
    border-color: var(--colors-danger-solid);
}

  .bg-c_accent\.solid {
    background-color: var(--colors-accent-solid);
}

  .c_accent\.contrast {
    color: var(--colors-accent-contrast);
}

  .bg-c_bg\.default {
    background-color: var(--colors-bg-default);
}

  .c_fg\.default {
    color: var(--colors-fg-default);
}
}
